<!-- <div class="container-fluid">
    <div class="messages-container">
        <div class="d-flex">
            <span class="p-2">How are you ?</span>
        </div>
        <div class="d-flex">
            <span class="d-inline-block p-2">I hope you are well</span>
        </div>
        <div class="d-flex">
            <span class="d-inline-block p-2">As for me, I am fine too</span>
        </div>
        <div class="d-flex" *ngFor="let chat of chats" [ngClass]="{'justify-content-end': chat.from === userId }">
            <p class="msg-box px-3 py-3 pl-4">
                {{chat.message}}
                <span class="text-muted small text-right mt-2">Sent from {{chat.from}}</span>
            </p>   
        </div>
    <div class="toolbar-container mt-5">
        <div class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input [(ngModel)]="textInput" (keyup.enter)="sendText()" type="text" class="form-control" id="message" placeholder="Enter text to send">
            </div>
            <button class="btn btn-primary mb-2" (click)="sendText()">Send Now</button>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>